*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-register
{
    background: rgb(0,20,100);
    text-align: right;
}
.login-register ul
{
    display:inline-flex;
    list-style: none;
    color: #fff;
}
.login-register ul li
{
	width: 160px;
	margin:5px;
	padding:5px;
} 
.login-register ul li a 
{
    text-decoration: none;
    color: #fff;
}
.login-register ul li:hover
{
    background-color: #048a09;
    border-radius:5px;   
}
.login-register .fas
{
	margin-right:8px;
}
.menu-bar
{
    background: #05bff7;
    text-align: center;
}
.menu-bar ul
{
    display:inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul
{
    margin: 15px;
   
}
.menu-bar ul li a 
{
    text-decoration: none;
    color: #fff;
}
.menu-bar ul li
{
	width: 160px;
	margin:6px;
	padding:5px;
}

.active, .menu-bar ul li:hover
{
    background: #0000ff;
    height: 35px;
    border-radius:5px;
	
    
}
.sub-menu-1
{
	display:none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display:block;
	position:absolute;
	background:#0000ff;
	margin-top:15px;
	margin-left:-10px;
}
.menu-bar ul li:hover .sub-menu-1 ul 
{
	display:block;
	margin:5px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width:140px;
	padding:5px;
	border-bottom:1px dotted #fff;
	background:transparent;
	border-radius:5px;
	text-align:left;
}
.menu-bar .fas
{
	margin-right:6px;
}
#f1
{
font-family:blacksword;
font-size: 45px;
color:white;
border:1px black;
background-color:#05bff7;
opacity: 0.4;
}
.logof
{
	position:relative;
	top:-130px;
	left:10px;
	height:80px;
	
}
.fa-caret-right
{
    float:right;
}
.sub-menu-2
{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -2px;
    margin-left: 140px;
    background-color:#0000ff; 
    
}
   .fab
   {
       margin-right:20px;
       
   }
   .social
   {
       position: relative;
       right:440px;
       top:10px
   }
   .social a i{
       color:#fff;
       text-decoration: none;
        
   }
.social a i.fa-instagram:hover
{
    color: #ff0000; 
}
.social a i.fa-facebook:hover
{
    color: #0000ff; 
}
.social a i.fa-linkedin:hover
{
    color: #0000ff; 
}
.social a i.fa-twitter:hover
{
    color: #05bff7; 
}
.social a i.fa-youtube:hover
{
    color: #ff0000; 
}