
body
{
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-repeat:repeat-y;
    box-sizing:border-box;
    font-family:sans-serif;
	margin: 0;
	padding: 0;
}
